body {
    text-align: center;
}

.heading{
    font-size: 3em;
    color:green;
}
.score{
    font-size: 1em;
    color:green;
    display: flex;
    justify-content: center;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
   
}

.button{
    font-size: 1em;
    background-color: lightgreen;
    margin: 0.5em;
    border-radius: 0.25em;
    border-color: green;
    color: green

}

.playerList{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

img{
    margin: 2em;
    margin-bottom: -2.5em;
}

.characters{
    font-size: 1em;
    color: green;
}

.win{
    font-size: 2em;
    color: green;
}
.hide{
    display: none;
}